<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="banner">
            
            </div>
            
            <nav id ="navigation">
                <ul id="nav">
                    <li><a href="index.php">Home</a></li>
                    <li><a href="levintan.php">Paint</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="Management.php">Management</a></li>
                </ul>
            </nav>
            
            <div id="content_area">
                <img src="{{asset('images/potral1.jpg')}}" class="imgLeft" />
                <h3> tiểu sử </h3>
                <p>
                    Isaac Levitan sinh năm 1860 trong một gia đình gốc Do Thái nghèo nhưng có học thức ở thị trấn Kibarty, tỉnh Kovno (nay là Kaunas, Litva). Năm Levitan lên 10 thì cả gia đình chuyển về Moskva.
                    <br>
                    Tháng 9 năm 1873, Isaac Levitan thi đỗ vào Trường hội họa, điêu khắc và kiến trúc Moskva nơi anh trai của ông, Avel, cũng đã theo học được hai năm. Ở trong trường, Levitan được học các họa sĩ phong cảnh nổi tiếng của Nga lúc bấy giờ là A. K. Savrasov, V. G. Perov và V. D. Polenov. Levitan học rất giỏi và được nhận học bổng của trường. Tuy vậy khi học được hai năm thì mẹ của Isaac mất, cha ông thì lâm bệnh nặng và không thể tiếp tục hỗ trợ bốn anh chị em Levitan học tập chỉ nhờ vào mỗi tiền công từ việc dạy thêm do ông đã phải nghỉ công việc trong ngành đường sắt, sau đó ông cũng mất năm 1877 vì bệnh thương hàn. Cả gia đình Levitan lâm vào cảnh nghèo túng, bản thân Isaac Levitan thường xuyên phải nhịn đói hoặc ngủ lại trường nhưng nhờ có sự hỗ trợ của các giáo sư vốn yêu quý tài năng của Levitan, ông mới có thể tiếp tục việc học tập. Do cuộc sống thiếu thốn và việc học tập vất vả, sức khỏe và tinh thần của Levitan đã bắt đầu giảm sút ngay từ những năm này. Ông tốt nghiệp năm 1885
                </p>

                <img src="{{asset('images/potral2.jpg')}}" class="imgRight"/>
                <h3> Sự nghiệp </h3>
                <p>
                    Tháng 3 năm 1877, hai tác phẩm đầu tiên của Isaac Levitan được triển lãm và được báo chí đánh giá cao. Sau vụ mưu sát của Aleksandr Soloviev nhằm vào Nga hoàng Aleksandr II (1818 – 1881) tháng 5 năm 1879, lệnh trục xuất hàng loạt người Do Thái ra khỏi các thành phố lớn của Đế quốc Nga buộc gia đình ông phải chuyển đến vùng ngoại ô Saltykovka nhưng vào mùa thu các quan chức chính quyền dưới áp lực của những người hâm mộ nghệ thuật đã cho phép ông quay trở lại Moskva.
                    <br>
                    Thập niên 1880, bức tranh Ngày thu. Sokolniki (Осенний день. Сокольники) của Isaac Levitan được nhà sưu tập tranh hàng đầu nước Nga là Pavel Mikhailovich Tretyakov mua lại. Mùa xuân năm 1884, Levitan tham gia vào cuộc triển lãm tranh lưu động của nhóm họa sĩ Peredvizhniki (nhóm họa sĩ lưu động) và đến năm 1891 thì trở thành thành viên chính thức của nhóm này cùng với các họa sĩ nổi tiếng khác như I. N. Kramskoi, K. A. Korovin.
                    <br>
                    Trong thời gian còn học ở Trường hội họa, Isaac Levitan kết bạn cùng các họa sĩ K. A. Korovin, M. V. Nesterov, kiến trúc sư Fyodor Shekhtel và họa sĩ N. P. Chekhov, anh trai của nhà văn nổi tiếng A. P. Chekhov, sau đó tác giả tranh phong cảnh nổi tiếng Levitan và tác giả truyện ngắn nổi tiếng Chekhov đã trở thành những người bạn thân thiết, Levitan thường đến nghỉ tại nhà Chekhov trong những giai đoạn khủng hoảng về tinh thần.
                    <br>
                    Giai đoạn từ 1889 tới 1890 ông tới Pháp và Italia.
                    <br>
                    Ngay từ khi còn ở trường Levitan đã bộc lộ thiên hướng về tranh phong cảnh và phần lớn các tác phẩm sau này của họa sĩ đều tập trung vào đề tài phong cảnh nông thôn hoặc thiên nhiên nước Nga. Những tác phẩm theo trường phái hiện thực của Levitan nổi tiếng với khả năng miêu tả chân thực vẻ đẹp của thiên nhiên Nga, đồng thời cũng truyền vào đó cảm xúc và tinh thần của tác giả. Có thể kể tới các bức tranh Mùa thu vàng miêu tả mùa thu ở vùng nông thôn Nga với sắc vàng chủ đạo, bức Rừng bạch dương vẽ lại những cánh rừng bạch dương Nga vào mùa xuân với sắc xanh chủ đạo hay bức Cái yên tĩnh vĩnh hằng miêu tả thiên nhiên hùng vĩ nhìn từ một nhà nguyện nhỏ bé nằm giữa một con sông nước Nga. Levitan là người vẽ trời rất đẹp, người ta đã ví Levitan vẽ trời đẹp như là Claude Monet vẽ nước[2].
                    <br>
                    Năm 1897, Levitan được bầu vào Viện hàn lâm nghệ thuật Nga và năm 1898 ông trở thành người phụ trách xưởng tranh phong cảnh tại trường học cũ của mình. Tuy nhiên càng về sau, sức khỏe của Levitan càng yếu, ông thường xuyên bị viêm phổi và suy sụp về tinh thần. Vì vậy họa sĩ thường dưỡng bệnh tại gia đình của người bạn Chekhov ở Krym. Tại đây đã có lần Levitan dùng súng tự tử nhưng không chết[2]. Tuy nhiên, Levitan chưa bao giờ truyền tâm trạng u tối của mình vào trong các bức tranh, hầu hết các bức tranh của Levitan, kể cả bức cuối cùng Hồ (hay Tổ quốc) đều mang màu sắc tươi tắn và miêu tả tuyệt vời vẻ đẹp của thiên nhiên nước Nga. Chưa kịp hoàn thành tác phẩm Hồ thì Levitan qua đời ngày 4 tháng 8 năm 1900 khi mới 40 tuổi.
                    <br>
                    Isaac Levitan ban đầu được chôn ở nghĩa trang của người Do Thái ở Dorogomilovo, nhưng sau đó ông được cải táng về nghĩa trang nổi tiếng ở Moskva, Nghĩa trang Novodevichy, mộ của ông nằm kế bên mộ của người bạn thân Chekhov. Ngoài những người bạn và đồng nghiệp, Levitan chưa bao giờ lập gia đình hay có con.
                </p>

                <img src="{{asset('images/potral3.jpg')}}" class="imgRight"/>
                <h3> Tác phẩm tiêu biểu </h3>
                <p>
                    Ngày thu. Sokolniki (Осенний день. Сокольники, 1879) <br>
                    Buổi chiều trên sông Volga (Вечер на Волге, 1888)[3] <br>
                    Buổi chiều, Plyos vàng (Вечер. Золотой Плёс, 1889)[3] <br>
                    Rừng bạch dương (Берёзовая роща, 1885 - 1889)[3] <br>
                    Mùa thu vàng. Slobodka (Золотая осень. Слободка, 1889)[4] <br>
                    Sau cơn mưa, Plyos (После дождя. Плёс, 1889)[3] <br>
                    Bên vực nước xoáy (У омута, 1892)[3] <br>
                    Đường Vladimirka (Владимирка, 1892)[3] <br>
                    Trên sự yên tĩnh vĩnh hằng (Над вечным покоем, 1894)[3] <br>
                    Tháng Ba (Март, 1895)[3] <br>
                    Mùa xuân, con nước (Весна — большая вода, 1896 - 1897)[3] <br>
                    Hoàng hôn. Đụn cỏ (Сумерки. Стога, 1899)[3] <br>
                    Hoàng hôn (Сумерки, 1900)[3] <br>
                    Hồ hay Rus (Озеро hay Русь, 1889 - 1900, chưa hoàn thành)[4] <br>
                </p>
            </div> 
            
            <footer>
                <p> All right reserved <p>
            </footer>
        </div>
         
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
